.menuu {
  max-width: 70rem;
  animation: meals-appear 1s ease-out forwards;
  padding: 15% 0;
}

.menuu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
