.form {
  text-align: right;
}

.form button {
  font: inherit;
  font-size: 13px;
  cursor: pointer;
  background-color: #82b966;
  border: 1px solid #789a7f;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #789a7f;
  border-color: #789a7f;
}

.form label {
  font-size: 12px;
}
