.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: white;
  padding: 0.55rem 0.3rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.img {
  width: 38px;
  height: 30px;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-right: -1rem;
}

.badge {
  background-color: #82b966;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  margin-top: -1.3rem;
}
