.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: white;
  padding: 0.55rem 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
.img {
  width: 38px;
  height: 30px;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-right: -1rem;
}

.badge {
  background-color: #5bb42f;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  margin-top: -1.3rem;
}
/* 
.button:hover .badge,
.button:active .badge {
  background-color: white;
  color: #420100;
} */

/* .bump {
  animation: bump 300ms ease-out;
} */
