.header {
  position: sticky;
  width: 100%;
  height: 7rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid rgb(220, 220, 220);
  border-width: 0 1px 0 1px;
  box-sizing: border-box;
  z-index: 100;
}
.img {
  width: 58px;
  height: 58px;
}
.h1 {
  color: black;
}
